<template>
  <Layout>

    <div class="card" style="margin-bottom: 1em">
      <div class="card-header"><h1>Error 404</h1></div>
      <div class="card-body">

        <p>Sorry, we're not sure what you're looking for... But look, here's a cool video!</p>

        <div class="row">
          <div class="col-md-12 devicecol">
            <div class="aspect-ratio">
              <iframe width="854" height="480" src="https://www.youtube.com/embed/1sPtRdZlEu4" frameborder="0" allowfullscreen />
            </div>
          </div>
        </div>

      </div>
    </div>

  </Layout>
</template>

<script>
import axios from "axios";

export default {
  metaInfo: {
    title: "Error 404"
  },
  async mounted() {
    // parse urls like /installer/<package name> for compatibility
    let maybePackage = window.location.href
      .replace(/\/+$/, "")
      .split("/")
      .pop()
      .toLowerCase();
    if (maybePackage === "appimage") this.appimage();
    else if (maybePackage === "deb") this.deb();
    else if (["snap", "linux"].includes(maybePackage))
      window.location.href = "https://snapcraft.io/ubports-installer";
    else if (["windows", "win", "microsoft", "exe"].includes(maybePackage))
      this.exe();
    else if (["macos", "mac", "apple", "dmg"].includes(maybePackage))
      this.dmg();
  },
  methods: {
    async deb() {
      window.location.href = await this.getAssetUrl("deb");
    },
    async exe() {
      window.location.href = await this.getAssetUrl("exe");
    },
    async dmg() {
      window.location.href = await this.getAssetUrl("dmg");
    },
    async appimage() {
      window.location.href = await this.getAssetUrl("AppImage");
    },
    async getAssetUrl(packageType) {
      try {
        const results = await axios.get(
          "https://api.github.com/repos/ubports/ubports-installer/releases/latest"
        );
        return results.data.assets.find(asset =>
          asset.name.toLowerCase().endsWith(packageType.toLowerCase())
        ).browser_download_url;
      } catch (error) {
        console.log(error);
      }
    }
  }
};
</script>