<template>
  <Layout>

    <div class="card" style="margin-bottom: 1em">
      <div class="card-header"><h1>Ubuntu Touch devices</h1></div>
      <div class="card-body" style="padding: 0">
        <b-table
          style="margin-bottom: 0;"
          striped
          hover
          :items="$page.allDevice.edges.map(n => n.node)"
          :fields="[
            {key: 'name', label: 'Name', sortable: true },
            {key: 'maturity', label: 'Maturity', sortable: true, sortDirection: 'desc' },
            {key: 'comment', label: 'Comment' }
          ]"
          sort-by="maturity"
          :sort-desc="true"
          outlined
          selectable
          select-mode="single"
          @row-selected="openDevice"
        >
          <template v-slot:cell(name)="data">
            <b-icon :icon="data.item.icon" /> {{data.item.name}} ({{data.item.codename}})
          </template>
          <template v-slot:cell(maturity)="data">
            <div class="progress">
              <div class="progress-bar" role="progressbar" :aria-valuenow="data.item.maturity"
              aria-valuemin="0" aria-valuemax="1" :style="'width:' + data.item.maturity*100 + '%'" />
            </div>
          </template>
          <template v-slot:head(comment)="data">
            <div class="optional-600">Comment</div>
          </template>
          <template v-slot:cell(comment)="data">
            <div class="optional-600">{{data.item.comment}}</div>
          </template>
        </b-table>
      </div>
    </div>

    <p>Sure, three billion devices run Java. But did you know that {{$page.allDevice.totalCount}} devices run <a href="https://ubuntu-touch.io" target="_blank" rel="noreferrer noopener">Ubuntu Touch</a>? By the way, if your device is not listed here, you might be interested to learn how to <a href="http://docs.halium.org/en/latest/porting/first-steps.html" target="_blank" rel="noreferrer noopener">make the {{getTotalDevicesIterator($page.allDevice.totalCount)}} Ubuntu Touch port</a>!</p>

  </Layout>
</template>

<page-query>
query {
  allDevice{
    totalCount
    edges {
      node {
        icon
        codename
        path
        name
        comment
        maturity
      }
    }
  }
}
</page-query>

<script>
export default {
  metaInfo: {
    title: "Devices"
  },
  data() {
    return {
      items: null
    };
  },
  methods: {
    openDevice(items) {
      window.location.href = items[0].path;
    },
    getTotalDevicesIterator(total) {
      let _total = String(total + 1);
      if (_total.endsWith("1") && _total !== "11") return _total + "st";
      else if (_total.endsWith("2")) return _total + "nd";
      else if (_total.endsWith("3")) return _total + "rd";
      else return _total + "th";
    }
  }
};
</script>
