<template>
  <Layout>

    <div class="card" style="margin-bottom: 1em">
      <div class="card-header"><h1>UBports Installer</h1></div>
      <div class="card-body">
        <div class="row center donation-options">
          <div class="col-xs donate-link" @click="deb">
            <font-awesome :icon="['fab', 'ubuntu']" style="width: 100%; height: 5em;" />
          </div>

          <div class="col-xs donate-link" @click="exe">
            <font-awesome :icon="['fab', 'windows']" style="width: 100%; height: 5em;" />
          </div>

          <div class="col-xs donate-link" @click="dmg">
            <font-awesome :icon="['fab', 'apple']" style="width: 100%; height: 5em;" />
          </div>

          <div class="col-xs">
            <a href="https://snapcraft.io/ubports-installer" target="_blank" rel="noreferrer noopener" class="donate-link">
              <font-awesome :icon="['fab', 'linux']" style="width: 100%; height: 5em;" />
            </a>
          </div>

          <div class="col-xs donate-link" @click="appimage">
            <b-icon-box-arrow-in-down style="width: 100%; height: 5em;"/>
          </div>

          <p>
            With the UBports Installer, you can get Ubuntu Touch on your device without breaking a sweat. You can use any Linux, Windows, or macOS computer to run the installer. Simply plug in your device and follow the on-screen instructions, then sit back and let the computer do all the work for you!
          </p>

        </div>

        <div class="row">
          <div class="col-md-12 devicecol">
            <div class="aspect-ratio">
              <iframe width="854" height="480" src="https://www.youtube.com/embed/zuLFTGkuD68" frameborder="0" allowfullscreen />
            </div>
          </div>
        </div>
      </div>
    </div>

  </Layout>
</template>

<script>
import axios from "axios";

export default {
  metaInfo: {
    title: "UBports Installer"
  },
  methods: {
    async deb() {
      window.location.href = await this.getAssetUrl("deb");
    },
    async exe() {
      window.location.href = await this.getAssetUrl("exe");
    },
    async dmg() {
      window.location.href = await this.getAssetUrl("dmg");
    },
    async appimage() {
      window.location.href = await this.getAssetUrl("AppImage");
    },
    async getAssetUrl(packageType) {
      try {
        const results = await axios.get(
          "https://api.github.com/repos/ubports/ubports-installer/releases/latest"
        );
        return results.data.assets.find(asset =>
          asset.name.toLowerCase().endsWith(packageType.toLowerCase())
        ).browser_download_url;
      } catch (error) {
        console.log(error);
      }
    }
  }
};
</script>